{% extends 'app.html' %}

{# Page Title #}
{% block title %}Keeper{% endblock %}

{# Custom Code In Head #}
{% block header %}{% endblock %}

{# Custom Code In Footer #}
{% block head %}{% endblock %}

{# Body Class Add #}
{% block attribute %}class="sticky-header"{% endblock %}

{% block content %}




<!--=====================================-->
<!--=        Header Area Start       	=-->
<!--=====================================-->
{% include 'header/header-layout1.html' %}


<!--=====================================-->
<!--=        Banner Area Start       	=-->
<!--=====================================-->
{% include 'sections/banner/banner-layout6.html' %}


<!--=====================================-->
<!--=        Contact Us Area Start       	=-->
<!--=====================================-->
{% include 'sections/contact-us/contact-us-layout1.html' %}

{% endblock %}