{% extends 'app.html' %}

{# Page Title #}
{% block title %}Keeper{% endblock %}

{# Custom Code In Head #}
{% block header %}{% endblock %}

{# Custom Code In Footer #}
{% block head %}{% endblock %}

{# Body Class Add #}
{% block attribute %}class="sticky-header"{% endblock %}

{% block content %}




<!--=====================================-->
<!--=        Header Area Start       	=-->
<!--=====================================-->
{% include 'header/header-layout1.html' %}


<!--=====================================-->
<!--=        Banner Area Start       	=-->
<!--=====================================-->
{% include 'sections/banner/banner-layout1.html' %}


<!--=====================================-->
<!--=        Video Area Start       	=-->
<!--=====================================-->
{% include 'sections/video/video.html' %}


<!--=====================================-->
<!--=        About Area Start       	=-->
<!--=====================================-->
{% include 'sections/about/about-layout1.html' %}


<!--=====================================-->
<!--=        Service Area Start       	=-->
<!--=====================================-->
{% include 'sections/service/service-layout1.html' %}


<!--=====================================-->
<!--=        Service Area Start       	=-->
<!--=====================================-->
{% include 'sections/choose-us/choose-us-layout1.html' %}


<!--=====================================-->
<!--=        Project Area Start       	=-->
<!--=====================================-->
{% include 'sections/project/project-layout1.html' %}


<!--=====================================-->
<!--=       Testimonial  Area Start       	=-->
<!--=====================================-->
{% include 'sections/testimonial/testimonial-layout1.html' %}


<!--=====================================-->
<!--=        Blog Area Start       	=-->
<!--=====================================-->
{% include 'blog/blog-layout1.html' %}


<!--=====================================-->
<!--=        Footer Area Start       	=-->
<!--=====================================-->
{% include 'footer/footer-layout1.html' %}





{% endblock %}